$fullWidth: 100%;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #f5f5f5;
}
/*main-content*/
.home-section {
  .main-story {
    position: relative;
    text-align: center;
    padding-top: 14px;
    border: 1px solid #f5f5f5;;

    .img-story{
      margin-left: 3%;
      margin-right: 3%;
      margin-bottom: 100px;
      margin-top: 100px;
      display: flex;
      
      
      .single-img {
        width: 40%;
        margin-right: 50px;

        .book-header {
          margin-bottom: 30px;
          text-align: start;
  
          h3 {
            letter-spacing: 2px;
            font-size: 22px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          }
        }
          .image-upload > [type='file'] { 
            display: none;
          }
          .image-upload {
          width: 100%;
          height: 300px;
          text-align: center;
          
          .img-name {
            padding-top: 185px;
          }
          .img-name p {
            letter-spacing: 1px;
            font-size: 14px;
            font-family: verdana;  
            color: black;          
          }
          .label-con {
            width: 100%;
            top: 90px;
            position: relative;

            i {
              margin-top: 30px;
              font-size: 70px;
              color: #088178;
              padding: 90px;
              border-radius: 50%;
              cursor: pointer;
              background-color: #fff;
              transition: 0.5s ease;
            }
            i:hover {
              background-color: #cce7d0;
              transition: 0.5s ease;
            }
          } 
        }
        .small-single-img {
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          cursor: pointer;

          img {
            width: $fullWidth;
          }
          .small-img {
            flex-basis: 24%;
            cursor: pointer;
            
            .img-upload > [type="file"] {
              display: none;
            }
            .img-upload {
              width: 100%;
              text-align: center;

              .label-con {
                i {
                  font-size: 22px;
                  color: #088178;
                  padding: 22px;
                  border-radius: 50%;
                  cursor: pointer;
                  background-color: #fff;
                }
                i:hover {
                  background-color: #cce7d0;
                }
              } 
              .img-name {
                margin-top: 25px;
                display: block;
                width: 100%;
                position: relative;

                p{
                  height: auto;
                  word-break: break-all;
                  color: blue;
                  position: absolute;
                  font-family: verdana;
                }
              }
            }
          }
        }
      }
    }
    .single-book-details{
      width: 50%;
      text-align: start;

      .book-header {
        margin-bottom: 50px;
        text-align: center;

        h3 {
          letter-spacing: 2px;
          font-size: 22px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
      }
      .book-title p{
        letter-spacing: 1px;
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .my-text {
        margin-bottom: 30px;

        input[type="text"] {
          width: $fullWidth;
          height: 35px;
          outline: none;
          padding: 0 10px;
          font-family: verdana;
          font-size: 15px;
        }
      }
      .price p{
        letter-spacing: 1px;
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .my-number {
        margin-bottom: 30px;

        input[type="number"] {
          width: $fullWidth;
          height: 35px;
          outline: none;
          padding: 0 10px;
          font-family: verdana;
          font-size: 15px;
        }
      }
      .pdf p{
        letter-spacing: 1px;
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .my-file {
        margin-bottom: 30px;
        width: $fullWidth;
        height: 35px;
        background-color: #fff;
        border: 1px solid rgb(124, 107, 107);
        padding: 6px 12px;
        
        input[type=file] {
          width: $fullWidth;
          cursor: pointer;
        }
      }
      .description p {
        letter-spacing: 1px;
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .my-texarea {
        margin-bottom: 10px;

        textarea {
          width: $fullWidth;
          height: 90px;
          font-size: 15px;
          padding: 3px 12px;
          outline: none;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
      }
      .error{
        p {
          color: red;
          letter-spacing: 1px;
          font-family: verdana;
        }
      }

      .my-button {
        text-align: right;

        button {
          background: #088178;
          color: #fff;
          letter-spacing: 1px;
          font-family: verdana;
          font-size: 15px;
          border: none;
          width: 140px;
          height: 45px;
          cursor: pointer;
        }
      }
    }
  }
}
/*media*/
@media (max-width: 1050px) {
  .home-section {
    .main-story {
      .img-story {
        .small-single-img {
          margin-top: 15px;
        }
      }
    }
  }
}

@media( max-width: 940px ) {
  .home-section {
    .main-story {
      .img-story {
        flex-direction: column;
        text-align: center;

        .single-img {
          width: 100%;
          text-align: center;
          height: auto;

          .book-header {
            text-align: center;
          }
        }
      }
      .single-book-details {
        width: $fullWidth;
        margin-top: 65px;

        .book-header{ 
          text-align: center;
        }
      }
    }
  }
}

@media(max-width: 750px) {
  .sidebar{
    position: fixed;
    height: $fullWidth;
    width: 60px;
    background: #0A2558;
    transition: all 0.5s ease;
  }
  .sidebar .active {
    width: 50px;
  }
  .home-section {
    width: calc($fullWidth - 60px);
    left: 60px;
  }
  .sidebar .active ~ .home-section {
    width: calc($fullWidth - 60px);
    left: 60px;
  }
  .home-section nav {
    width: calc($fullWidth - 60px);
    left: 60px;
  }
  .home-section nav .sidebar-button span {
    display: none;
  }
  .sidebar .logo-details .logo_name{ 
    display: none;
  }
  .sidebar .nav-links li a .links_name{
    display: none;
  }
  .home-section .main-storytent .welcome {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
/*media */