$myWidth: 100%;
/*main-content*/
.home-section {
  .main-story {
    position: relative;
    padding-top: 14px;
    text-align: center;

    .img-story{
      margin-left: 3%;
      margin-right: 3%;
      margin-bottom: 100px;
      margin-top: 100px;
      display: flex;

      .single-img {
        width: 40%;
        margin-right: 50px;

        img { 
          width: $myWidth;
        }
        .small-single-img {
          display: flex;
          justify-content: space-between;
          cursor: pointer;

          img {
            width: $myWidth;
          }
          .small-img {
            flex-basis: 24%;
            cursor: pointer;
          }
        }
      }
    }
    .single-book-details{
      width: 50%;
      text-align: start;

      .book-header {
        margin-bottom: 50px;

        h3 {
          letter-spacing: 2px;
          font-size: 22px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
      }
      .book-title p{
        letter-spacing: 1px;
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .my-text {
        margin-bottom: 30px;

        input[type="text"] {
          width: $myWidth;
          height: 35px;
          outline: none;
          padding: 0 10px;
          font-family: verdana;
          font-size: 15px;
        }
      }
      .price p{
        letter-spacing: 1px;
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .my-number {
        margin-bottom: 30px;

        input[type="number"] {
          width: $myWidth;
          height: 35px;
          outline: none;
          padding: 0 10px;
          font-family: verdana;
          font-size: 15px;
        }
      }
      .pdf p{
        letter-spacing: 1px;
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .my-file {
        margin-bottom: 30px;
        width: $myWidth;
        height: 35px;
        background-color: #fff;
        border: 1px solid rgb(124, 107, 107);
        padding: 6px 12px;
        
        input[type=file] {
          width: $myWidth;
          cursor: pointer;
        }
      }
      .description p {
        letter-spacing: 1px;
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .my-texarea {
        margin-bottom: 30px;

        textarea {
          width: $myWidth;
          height: 90px;
          font-size: 15px;
          padding: 3px 12px;
          outline: none;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
      }
      .my-button {
        text-align: right;

        button {
          background: #088178;
          color: #fff;
          letter-spacing: 1px;
          font-family: verdana;
          font-size: 15px;
          border: none;
          width: 140px;
          height: 45px;
          cursor: pointer;
        }
      }
    }
  }
}
/*media*/
@media( max-width: 940px ) {
  .home-section {
    .main-story {
      .img-story {
        flex-direction: column;
        text-align: center;

        .single-img {
          width: 50%;
          margin-left: 25%;
          text-align: center;
          height: auto;
        }
      }
      .single-book-details {
        width: $myWidth;
        margin-top: 25px;

        .book-header{ 
          text-align: center;
        }
      }
    }
  }
}
/*media*/

@media( max-width: 750px ) {
    .sidebar{
      position: fixed;
      height: $myWidth;
      width: 60px;
      background: #0A2558;
      transition: all 0.5s ease;
    }
    .sidebar .active {
      width: 50px;
    }
    .home-section {
      width: calc($myWidth - 60px);
      left: 60px;
    }
    .sidebar .active ~ .home-section {
      width: calc($myWidth - 60px);
      left: 60px;
    }
    .home-section nav {
      width: calc($myWidth - 60px);
      left: 60px;
    }
    .home-section nav .sidebar-button span {
      display: none;
    }
    .sidebar .logo-details .logo_name{ 
      display: none;
    }
    .sidebar .nav-links li a .links_name{
        display: none;
    }
    .home-section .main-storytent .welcome {
      flex-direction: column;
      justify-content: space-evenly;
    }
}
/*media */