*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 60px;
}
.sidebar .logo-details{
    height: 70px;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}
.sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.sidebar .nav-links{
    margin-top: 10px;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    height: 50px;
}
.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
    background: #081D45;
  }
  .sidebar .nav-links li a:hover{
    background: #081D45;
}
.sidebar .nav-links li i{
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.sidebar .nav-links li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}
.sidebar .nav-links .log_out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.home-section{
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
}
.home-section nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;
}
.home-section nav .search-box{
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}
nav .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}
nav .search-box .bx-search{
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}
.home-section nav .profile-details{
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}
.search_engine:hover, .sidebarBtn:hover {
    cursor: pointer;
}
nav .profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}
nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}
nav .profile-details i{
    font-size: 25px;
    color: #333;
}
.home-section .home-content{
    position: relative;
    padding-top: 14px;
}
  
  
  
.home-content .showcase {
    grid-area: showcase;
    height: 500px;
    background:  linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://demos.creative-tim.com/argon-dashboard/assets/img/team-1.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.home-content .showcase h1 { 
    font-size: 3rem;
    margin-bottom: 2;
    font-family: verdana;
    color: white;
}
.home-content .showcase p {
    color: white;
    font-family: verdana;
}
.home-content .showcase .but2 {
    width: 200px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid #0A2558;
    background: transparent;
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
}
.home-content .showcase .but2:hover {
    transform: translateY(2px);
    transition: transform 150ms
}
.home-section .home-content .column {
    display: flex;
    margin-left: 20px;
}
 /* row 1 */
.home-section .home-content .column .row1 {
    width: 60%;
    height: 150vh;
    margin-right: 20px;
    background-color: silver;
    box-sizing: border-box;
    padding: 10px 20px;
}
.home-section .home-content .column .row1 .first-header  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}
.home-section .home-content .column .row1 .first-header h {
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
}
.home-section .home-content .column .row1 .first-header .set {
    background-color: #073661;
    color: #fff;
    width: 100px;
    height: 6vh;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;
    font-family: verdana;
}
.home-section .home-content .column .row1 .first-header .set:hover {
    cursor: pointer;
    transform: translateY(2px);
    transition: transform 150ms;
}
.home-section .home-content .column .row1 .first-header .set a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.home-section .home-content .column .row1 .second-header {
    margin-bottom: 30px;
}
.home-section .home-content .column .row1 .second-header p {
    color: grey;
}
.home-section .home-content .column .row1 .third-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}
.home-section .home-content .column .row1 .fourth-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}
.home-section .home-content .column .row1 .fourth-header input {
    outline: none;
    background-color: #F5F6FA;
    border: 1px solid #F5F6FA;
    height: 6vh;
    border-radius: 8px;
    font-size: 18px;
    padding: 5px 10px;
    width: 40%;
}
.home-section .home-content .column .row1 .fifth-header {
    margin-top: 60px;
}
.home-section .home-content .column .row1 .fifth-header p{
    color: grey;
    margin-bottom: 30px;
}
.home-section .home-content .column .row1 .sixth-header {
    margin-bottom: 30px;
}
.home-section .home-content .column .row1 .sixth-header input {
    outline: none;
    background-color: #F5F6FA;
    border: 1px solid #F5F6FA;
    height: 6vh;
    border-radius: 8px;
    font-size: 18px;
    padding: 0 15px;
    width: 100%;
}
.home-section .home-content .column .row1 .sixth-header textarea {
    width: 100%;
    height: 25vh;
    border-radius: 10px;
    outline: none;
    padding: 12px 20px;
    resize: none;
    font-size: 16px;
    color: grey;
    background-color: #F5F6FA;
    border: 1px solid #F5F6FA;
}
.home-section .home-content .column .row1 .seventh-header {
    margin-top: 30px;
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.home-section .home-content .column .row1 .update {
    text-align: right;
}
.home-section .home-content .column .row1 .update .but1 {
width: 35%;
padding: 15px 40px;
text-align: center;
border-radius: 15px;
font-weight: bold;
background-color: #0A2558;
color: white;
margin: 2px;
text-decoration: none;
}
.home-section .home-content .column .row1 .update .but1:hover {
    cursor: pointer;
    background-color: #081D45;
}
.home-section .home-content .column .row1 footer {
    margin-top: 2rem;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
/* row 2 */
.home-section .home-content .column .row2 {
    width: 40%;
    margin-right: 20px;
    background-color: rgb(241, 233, 233);
    height: 90vh;
    padding: 15px 20px;
    box-sizing: border-box;
}
.home-section .home-content .column .row2 .first-item {
    justify-content: space-between;
    display: flex;
    margin-bottom: 50px;
}
.home-section .home-content .column .row2 .first-item img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 10px solid #073661;
    object-fit: cover;
}
.home-section .home-content .column .row2 .first-item .connect {
    margin-top: 20%;
    background-color: #5f7baf;
    width: 80px;
    height: 6vh;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
    font-family: verdana;
}
.home-section .home-content .column .row2 .first-item .connect:hover {
    cursor: pointer;
    transform: translateY(2px);
    transition: transform 150ms;
}
.home-section .home-content .column .row2 .first-item .connect a {
    color: #fff;
    text-decoration: none;
}
.home-section .home-content .column .row2 .second-item {
    justify-content: space-around;
    display: flex;
}
.home-section .home-content .column .row2 .third-item {
    margin-top: 30px;
    color: grey;
    text-align: center;
    letter-spacing: 2px;
}
.home-section .home-content .column .row2 .third-item p1{
    font-size: 13px;
}